@import url('https://fonts.googleapis.com/css2?family=Old+Standard+TT:wght@700&family=Open+Sans&display=swap');

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-Light.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-ExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}

body{
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: white;
    background-color: black;
}
#CNLogo{
    background-color: rgb(255, 255, 255);
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    z-index: 20;
}
  
#CNLogo > img{
    height: 5vh;
    padding: 10px 20px;
}
.wrap{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h3{
    font-size: 15px;
    margin: 0;
    font-family: 'Old Standard TT', serif;
}
#time{
    margin: 0;
    font-size: 35px;
    font-family: 'Old Standard TT', serif;
}
#level{
    margin: 0;
    font-size: 25px;
    font-family: 'Old Standard TT', serif;
}
.wantedPoster{
    background-image: url('./images/wantedSign.png');
    background-size: 120px;
    height: 120px;
    width: 120px;
}
#wantedImage{
    height: 60px;
    width: 60px;
    margin: 40px 30px;
}
canvas{
    background-color: black;
    cursor: crosshair;
}

#menu{
    position: absolute;
    background-color: rgb(192, 151, 76);
    border: 5px solid rgb(116, 79, 0);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 700px;
    box-sizing: border-box;
    padding: 20px;
}
#menu > h1{
    margin: 0;
    font-family: 'Old Standard TT', serif;
}
#menu > p{
    margin: 15px;
    font-family: 'Gilroy';
}
#menu > button{
    font-family: 'Open Sans', sans-serif;
    height: 50px;
    width: 100px;
    border: 5px solid rgb(116, 79, 0);
    border-radius: 10px;
}

#points{
    position: absolute;
    transform-origin: center;
    text-align: center;
    font-size: 40px;
    transform: translate(-50%, -200%);
}

@media screen and (max-width: 650px){
    body{
        margin: 20px 0 0 0;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        height: 100vh;
        color: white;
        background-color: black;
        overflow: hidden;
    }
    #CNLogo{
        background-color: rgb(255, 255, 255);
        position: absolute;
        left: 0px;
        top: 0;
        transform: translateX(0%);
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        z-index: 20;
    }
      
    #CNLogo > img{
        height: 15px;
        padding: 5px 10px;
    }
    .wrap{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        height: 10vh;
    }
    #menu{
        position: absolute;
        top: 50%;
        transform: translate(0%, -50%);
        background-color: rgb(192, 151, 76);
        border: 5px solid rgb(116, 79, 0);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 100vw;
        box-sizing: border-box;
        padding: 20px;
    }
}